@import './_normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

div#limiter {
  display: inline-block;
}
#menu {
  float: right;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  line-height: 1.6em;
  background: #efefef;
}

h1,
h2 {
  line-height: 1.2em;
}

img {
  max-width: 100%;
  max-height: auto;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  max-width: 100%;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#menu {
  text-align: right;
}


#title-area button {
  background: #fff;
  border: 0;
  border-radius: 3px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#slate-editor {
  background: #fff;
  padding: 20px 50px;
  margin-bottom: 20px;
  min-height: 250px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-flex !important;
  cursor: pointer;
}

#input-button {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#input-button button {
  cursor: pointer;
}

.input-number {
  width: 50px;
}

#toolbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f1c40f;
  padding-left: 20px;
}

#toolbar button {
  background: none;
  border: 0;
  cursor: pointer;

  font-size: 14px;
  font-weight: normal;
}

#toolbar button:hover {
  color: #fff;
}

blockquote {
  font-family: 'Charm', cursive;
  padding: 10px;
  line-height: 1.2em;
  font-size: 2.2rem;
}
